@import 'breakpoints';

.header {
  nav {
 // position: fixed;
  top: 2rem;
 // width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row-reverse;
 // align-items: center;
 // justify-content: flex-end;
 .menu-item{
   display:contents;
 }

  @include breakpoint-small-down {
    height: 4rem;
  }
  
  .menu {
    margin-right: 1rem;
    display: flex;
    flex: 1;
    justify-content: flex-end;

    &-item {
      padding: 0.25rem 0;
      margin: 0 1rem;
      font-size: 1.25rem;
      font-weight: 400;
      border-bottom: 2px solid transparent;
      &:hover{
        cursor: pointer;
        color:#6a0105;
      }
      &:active{
        cursor: pointer;
        color:#6a0105;
      }
    }
  }
}
}

.logo{
  flex: 1 1;
}
.img-logo{
  vertical-align: text-top;
  width: 5%;
}
.header {
  text-align: center;
  color: #6a0105;
  font-family: 'Gravity', sans-serif;

}
