.pagination-style{ 
 background-color: rgba(102, 1, 1, 0.49);
 color: #fff;
 border-color: transparent;
}

.pagination-style[disabled]{
 background-color: #6a0105;
 color: #fff;
 border-color: transparent;
}

@media (max-width: 1000px) {
 .pagination-style{
  font-size:2rem;
 }
}
